### CMake ###
CMake

### Flask Dependencies ###
Flask==2.0.3
flask_wtf
werkzeug==2.0.3
wtforms==2.3.3
flask-login
imageio
Flask_SocketIO==4.3.1
Flask-Session==0.3.2
python-engineio==3.13.2
python-socketio==4.6.0

### gesture recognition ###
mediapipe_model_maker

### opencv ###
opencv-python
opencv-contrib-python
onnx
onnx_tf
onnxruntime
tensorflow
tensorflow_addons

tensorflow_io_gcs_filesystem
tensorflow-probability[tf]
imutils
open-faces
keras
face_recognition

### Math/Plotting ###
numpy
pandas
matplotlib
Pillow
scipy

### eduVid ###
nose
nolearn
mediapipe
transformers
torch
faster-whisper
moviepy


### Data ###
scikit-learn

### Database ###
uuid
pymongo==4.1.1
dnspython
python-dotenv

### aditional ###
protobuf==3.20.*

PyYAML==5.3.1