{% extends "base.html" %}
{% block title %}EduVid{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        .video-thumbnail {
            max-width: 320px; /* Adjust as needed */
            max-height: 240px; /* Adjust as needed */
        }
    </style>
{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card text-center" style="margin-right: 35%; margin-left: 35%;margin-top: 0%">
                    <div class="card-body">
                        <form method="POST" id="search-form" role="form">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.query.label(class="form-label") }}
                                {{ form.query(class="form-control", id="query") }}
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-outline-info" id="search-button">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="recommended-videos">
                    {% if videos %}
                        {% for video in videos %}
                            <div class="video-item list-group-item">
                                <img src="{{ video.thumbnail_url }}" alt="{{ video.course_id }} thumbnail" class="video-thumbnail">
                                <div>{{ video.course_id }}</div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No recommended videos available.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div id="video-player" class="col-md-12 embed-responsive embed-responsive-16by9">
                <video id="main-video" class="embed-responsive-item" controls></video>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ super() }}
{% endblock %}
