{% extends "base.html" %}
{% block title %}EduVid{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="card text-center" style="margin-right: 35%; margin-left: 35%;margin-top: 0%">
        <div class="card-body">
            <h3 class="card-title">Video Upload</h3>
            <form action="" id="submit-form" method="post" role="form" enctype='multipart/form-data'>
                {{ form.csrf_token }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form.name.label(class="form-control-label") }}

                        {% if form.name.errors %}
                            {{ form.name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.name(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.video.label(class="form-control-label") }}

                        {% if form.video.errors %}
                            {{ form.video(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.video.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.video(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.segments.label(class="form-control-label") }}

                        {% if form.segments.errors %}
                            {{ form.segments(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.segments.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.segments(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.question.label(class="form-control-label") }}

                        {% if form.question.errors %}
                            {{ form.question(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.question.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.question(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info", id="upload-button") }}
                </div>
            </form>

        <div class="upload-info" id="upload-info" style="display: none">
            <h5>This operation might take a while</h5>

            <div class="spinner-container">
                <div class="spinner"></div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/eduVid.js') }}"></script>
    {{ super() }}
{% endblock %}
