{% extends "base.html" %}
{% block title %}Gesture Recognition{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div id="container">
        <center>
            <table cellspacing="0" cellpadding="0" class="table_report_line">
                <tbody>
                    <tr>
                        <td>Your Webcam</td>
                        <td>Gesture recognition</td>
                    </tr>
                    <tr>
                        <td>
                            <canvas id="originalWebcamCanvas" hidden></canvas>
                            <video autoplay="true" id="videoElement" playsinline></video>
                        </td>
                        <td>
                            <div id="actionsContainer">
                                <h3>Actions:</h3>
                                <div id="actionList"></div>
                                <textarea id="textField" rows="4" cols="50"></textarea>
                            </div>
                            <canvas id="gestureCanvas"></canvas>
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>
{% endblock %}

{% block js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/gestureRecognition_text.js') }}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    <script>
        var socket = io.connect('https://' + document.domain + ':' + location.port + '/gesture_recognition_text');
        var currentActions = [];
        var actionSelected = false;

        socket.on('ack_gesture_recognition_text', function(data) {
            if (data.actions.length > 0) {
                currentActions = data.actions;
                updateActionsList(data.gesture);
                actionSelected = false;
            } else if (["one", "peace", "three", "four", "highfive"].includes(data.gesture) && !actionSelected) {
                selectAction(data.gesture);
                actionSelected = true;
            }
        });

        function updateActionsList(gesture) {
            $('#actionList').empty();
            $('#actionList').append('Recognized Gesture: ' + gesture + ' | Actions: ');
            var actionsText = currentActions.map(function(action, index) {
                return (index + 1) + '. ' + action;
            }).join(', ');
            $('#actionList').append(actionsText);
        }

        function selectAction(gestureName) {
            var index = ["one", "peace", "three", "four", "highfive"].indexOf(gestureName);
            if (index < currentActions.length) {
                var action = currentActions[index];
                executeAction(action);
            }
        }

        function executeAction(action) {
            var textField = $('#textField');
            var currentText = textField.val();
            if (action === "Delete 1") {
                var words = currentText.trim().split(' ');
                words.pop();
                textField.val(words.join(' '));
            } else if (action === "Delete All") {
                textField.val('');
            } else {
                textField.val(currentText + ' ' + action);
            }
        }

        $(document).ready(function() {
            const video = document.querySelector("#videoElement");
            const originalWebcamCanvas = document.querySelector("#originalWebcamCanvas");
            const gestureCanvas = document.querySelector("#gestureCanvas");

            navigator.mediaDevices.getUserMedia({ audio: false, video: true })
                .then(stream => {
                    video.srcObject = stream;
                })
                .catch(error => console.error("Error accessing webcam: ", error));

            video.addEventListener('play', function() {
                originalWebcamCanvas.width = video.videoWidth;
                originalWebcamCanvas.height = video.videoHeight;
                gestureCanvas.width = video.videoWidth;
                gestureCanvas.height = video.videoHeight;

                setInterval(function() {
                    originalWebcamCanvas.getContext('2d').drawImage(video, 0, 0, originalWebcamCanvas.width, originalWebcamCanvas.height);
                    var dataURL = originalWebcamCanvas.toDataURL("image/jpeg");
                    socket.emit("gesture_recognition_text", { image: dataURL });
                }, 700);
            });

            socket.on("ack_gesture_recognition_text", function(data) {
                var ctx = gestureCanvas.getContext("2d");
                var img = new Image;
                img.onload = function() {
                    ctx.clearRect(0, 0, gestureCanvas.width, gestureCanvas.height); // Clear the canvas
                    ctx.drawImage(img, 0, 0, gestureCanvas.width, gestureCanvas.height);
                };
                img.src = data.image;
            });
        });
    </script>
{% endblock %}
