
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    {% endblock %}
</head>
<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">
            <img src="{{ url_for('static', filename='img/BigBrotherIcon.jpg') }}" alt="Big Brother Icon" class="icon">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle custom-button" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Meet the Teams
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="\team21">Team 2021</a>
                        <a class="dropdown-item" href="\team23">Team 2023</a>
                        <a class="dropdown-item" href="\team24">Team 2024</a>
                    </div>
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.algorithms') }}">Our Algorithms</a>
                </li>
                {% if not current_user.is_authenticated %}
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle custom-button" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sign Up
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="\create">Sign up with Photo</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle custom-button" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="\logincamera">Login with Camera</a>
                        <a class="dropdown-item" href="\login">Login with Photo</a>
                    </div>
                </div>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="\gestureReco">Gesture Recognition</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="\gestureReco_text">Gesture Recognition to Text</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="\eduVid">EduVid</a>
                </li>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle custom-button" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ current_user.name }}!
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="\userpage">Your History</a>
                        <a class="dropdown-item" href="\deleteuser?usr={{ current_user.uuid }}">Delete my account ({{ current_user.name }})</a>
                        <a class="dropdown-item" href="\logout">Logout</a>
                    </div>
                </div>
                {% endif %}

            </ul>
        </div>
    </nav>
    {% endblock %}
    <div class="content">
        {% block content %}
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Big Brother: Level Up Your Productivity</title>
            <link rel="icon" type="image/png" href="BigBrotherIcon.jpg">
            <link rel="stylesheet" href="styles.css">
        </head>
        <body>
            <div class="header">

                <h1 class="name">Big Brother</h1>
                <p class="description">Eases up your hands from the keyboard. Literally 🧑‍💻.</p>
            </div>
            <div class="content">
                <h2>About us:</h2>
                <p>Big Brother is a project developed by the team at Programmierpraktikum: Moderne Verteilte Systeme at Technische Universität Berlin. We specialize in using machine learning to achieve high accuracy in facial and gesture recognition. Our work focuses on applying advanced algorithms and technologies to enhance computer vision capabilities.
                <br><br>
                Join us as we explore and improve the potential of modern distributed systems.</p>
                <h2>Explore the Features:</h2>
                <div class="features">
                    <div class="feature">
                        <div class="icon">📷</div>
                        <h3 class="name">Login with your webcam</h3>
                        <p class="description">Because passwords are old-fashioned</p>
                    </div>
                    <div class="feature">
                        <div class="icon">✌️</div>
                        <h3 class="name">Gesture Recognition</h3>
                        <p class="description">Execute your favorite tasks using gestures</p>
                    </div>
                    <div class="feature">
                        <div class="icon">📚</div>
                        <h3 class="name">EduVid</h3>
                        <p class="description">Get answers to your lecture related questions in milliseconds</p>
                    </div>
                </div>
                
                <h2>Ready to take your productivity to the next level?</h2>
                <p><a href="https://bigbrother.adastruct.com/create" class="link">Sign up now!</a></p>
                <p>Also, take a look at the project here: <a href="https://github.com/ozoromo/big-brother" target="_blank" class="link">GitHub</a></p>
            </div>
            <footer>
                <p>© Big Brother 2024 · <a href="mailto:durglishvili@campus.tu-berlin.de">Contact Us</a></p>
            </footer>
        </body>
        </html>
        {% endblock %}
    </div>
    {% block js %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    {% endblock %}
</body>
</html>^