{% extends "base.html" %}
{% block title %}Meet the Team{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="cols" style="margin-right: 15%; margin-left: 15%">
        <div class="col">
            <table>
                <tr>
                    <td> <img src="/static/img/team24/unbekant.png"> </td>
                    <td>
                        <h2>Felix</h2> <br>
                        <p>Datenbank</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td> <img src="/static/img/team24/unbekant.png"> </td>
                    <td>
                        <h2>David</h2> <br>
                        <p>Frontend</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td> <img src="/static/img/team24/unbekant.png"> </td>
                    <td>
                        <h2>Denis</h2> <br>
                        <p>XXX</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td> <img src="/static/img/team24/unbekant.png"> </td>
                    <td>
                        <h2>Sevval</h2> <br>
                        <p>Gesichtserkennung</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td> <img src="/static/img/team24/unbekant.png"> </td>
                    <td>
                        <h2>Matteo</h2> <br>
                        <p>Datenbank</p>
                    </td>
                </tr>
            </table>

        </div>

        <div class="col">

            <table>
                <tr>
                    <td> <img src="/static/img/team24/unbekant.png"> </td>
                    <td>
                        <h2>Paul</h2> <br>
                        <p>Gesichtserkennung</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td> <img src="/static/img/team24/unbekant.png"> </td>
                    <td>
                        <h2>Erik</h2> <br>
                        <p>Gesichtserkennung</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td> <img src="/static/img/team24/unbekant.png"> </td>
                    <td>
                        <h2>Lorenzo</h2> <br>
                        <p>Gestenerkennung</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td> <img src="/static/img/team24/unbekant.png"> </td>
                    <td>
                        <h2>Duong</h2> <br>
                        <p>Gestenerkennung</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td> <img src="/static/img/team24/unbekant.png"> </td>
                    <td>
                        <h2>Quentin</h2> <br>
                        <p>Gestenerkennung</p>
                    </td>
                </tr>
            </table>



        </div>

        <div class="col">


            <table>
                <tr>
                    <td> <img src="/static/img/team24/unbekant.png"> </td>
                    <td>
                        <h2>Yetkin</h2> <br>
                        <p>Gesichtserkennung + Eduvids</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ super() }}
{% endblock %}
