{% extends "base.html" %}
{% block title %}Meet the Team{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="cols" style="margin-right: 15%; margin-left: 15%">
        <div class="col">
            <table>
                <tr>
                    <td><img src="/static/img/team21/elias.jpg"></td>
                    <td>
                        <h2>Elias</h2> <br>
                        <p>Datenbank</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td><img src="/static/img/team21/kim.jpg"></td>
                    <td>
                        <h2>Kim</h2> <br>
                        <p>Website</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td><img src="/static/img/team21/dominik.jpg"></td>
                    <td>
                        <h2>Dominik</h2> <br>
                        <p>Open CV</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td><img src="/static/img/team21/orhun.jpg"></td>
                    <td>
                        <h2>Orhun</h2> <br>
                        <p>Wire</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td><img src="/static/img/team21/sarah.jpg"></td>
                    <td>
                        <h2>Sarah</h2> <br>
                        <p>Open CV</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td><img src="/static/img/team21/cenk.jpg"></td>
                    <td>
                        <h2>Cenk</h2> <br>
                        <p>WiRe</p>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col">

            <table>
                <tr>
                    <td> <img src="/static/img/team21/julius.jpg"></td>
                    <td>
                        <h2>Julius</h2> <br>
                        <p>Datenbank</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td> <img src="/static/img/team21/yannick.jpg"></td>
                    <td>
                        <h2>Yannick</h2> <br>
                        <p>Website</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td> <img src="/static/img/team21/niko.jpg"></td>
                    <td>
                        <h2>Niko</h2> <br>
                        <p>Open CV</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td> <img src="/static/img/team21/demet.jpg"></td>
                    <td>
                        <h2>Demet </h2> <br>
                        <p>Open CV</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td> <!--<img src="/static/img/toni.jpg"> --></td>
                    <td>
                        <h2>Toni</h2> <br>
                        <p>Wire</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td> <!--<img src="/static/img/klara.jpg">--></td>
                    <td>
                        <h2>Klara</h2> <br>
                        <p>Wire</p>
                    </td>
                </tr>
            </table>

        </div>
    </div>
{% endblock %}

{% block js %}
    {{ super() }}
{% endblock %}
