{% extends "base.html" %}
{% block title %}Meet the Team{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="cols" style="margin-right: 15%; margin-left: 15%">
        <div class="col">
            <table>
                <tr>
                    <td> <img src="/static/img/2023/Desara.jpg"> </td>
                    <td>
                        <h2>Desara</h2> <br>
                        <p>Frontend</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td> <img src="/static/img/2023/Maltrim.jpg"></td>
                    <td>
                        <h2>Maltrim</h2> <br>
                        <p>Frontend</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td> <img src="/static/img/2023/Minh.jpg"> </td>
                    <td>
                        <h2>Minh</h2> <br>
                        <p>Frontend</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td> <img src="/static/img/2023/Nur_Ali.jpg"> </td>
                    <td>
                        <h2>Nur Ali</h2> <br>
                        <p>Frontend</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td> <img src="/static/img/2023/Tim.jpg"> </td>
                    <td>
                        <h2>Tim</h2> <br>
                        <p>Frontend</p>
                    </td>
                </tr>
            </table>

        </div>

        <div class="col">

            <table>
                <tr>
                    <td> <img src="/static/img/2023/Adam.jpg"> </td>
                    <td>
                        <h2>Adam</h2> <br>
                        <p>Logik</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td> <img src="/static/img/2023/Erik.jpg"> </td>
                    <td>
                        <h2>Erik</h2> <br>
                        <p>Logik</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td> <img src="/static/img/2023/Mati.jpg"> </td>
                    <td>
                        <h2>Mati</h2> <br>
                        <p>Logik</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td> <img src="/static/img/2023/Max.jpg"> </td>
                    <td>
                        <h2>Max</h2> <br>
                        <p>Logik</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td> <img src="/static/img/2023/Maxim.jpg"> </td>
                    <td>
                        <h2>Maxim</h2> <br>
                        <p>Logik</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td> <img src="/static/img/2023/Milosz.jpg"> </td>
                    <td>
                        <h2>Milosz</h2> <br>
                        <p>Logik</p>
                    </td>
                </tr>
            </table>

        </div>

        <div class="col">


            <table>
                <tr>
                    <td> <img src="/static/img/2023/Julian.jpg"> </td>
                    <td>
                        <h2>Julian</h2> <br>
                        <p>Datenbank</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td> <img src="/static/img/2023/Mike.jpg"> </td>
                    <td>
                        <h2>Mike</h2> <br>
                        <p>Datenbank</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td> <img src="/static/img/2023/Nikita.jpg"> </td>
                    <td>
                        <h2>Nikita</h2> <br>
                        <p>Datenbank</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td> <img src="/static/img/2023/Timo.jpg"> </td>
                    <td>
                        <h2>Timo</h2> <br>
                        <p>Datenbank</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ super() }}
{% endblock %}