### CMake ###
CMake

### Flask Dependencies ###
Flask
flask_wtf
werkzeug
wtforms==2.3.3
Flask-SocketIO
flask-login
imageio

### opencv ###
opencv-python
opencv-contrib-python
onnx
onnx_tf
onnxruntime
tensorflow==2.8.0
tensorflow_addons==0.16.1
tensorflow-estimator==2.12.0
tensorflow_io_gcs_filesystem==0.25.0
tensorflow_probability==0.16.0
imutils
open-faces
keras==2.8.0
face_recognition

### Math/Plotting ###
numpy
pandas
matplotlib
Pillow
scipy

### Logic group ###
nose
nolearn

### Data ###
scikit-learn

### Database ###
uuid
pymongo==4.1.1
dnspython

### aditional ###
protobuf==3.20.*

### EduVid (funktioniert nicht)###
###openai-whisper==20230314
###moviepy==1.0.3